{%-
  from 'webcore/macros.html' import icon, random_spin_style
-%}

<!DOCTYPE html>
<html lang="en">
<!--
  Okay, so I used to be an engineer. I built this myself. I could have used
  Squarespace, Wix, Wordpress or something, but I didn't. I probably should
  have focused on radio work instead. If you want to see the source, go to
  https://github.com/dtcooper/jewpizza

  And no, I'm NOT looking for work in the tech industry. So please don't ask!
  (Or do. I'm flattered by it. Either way.)
-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>{% if settings.DEBUG %}[dev] {% endif %}{{ title|default('jew.pizza') }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  {% for i in range(2) %}
    <link rel="preload" as="image" href="{{ static('images/clippy-{}.gif'.format(i)) }}">
  {% endfor %}
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700" rel="stylesheet">
  <link href="{{ static('css/styles.css') }}" rel="stylesheet">
  {% if settings.DEBUG and config.HIDDEN_IMG_MODE %}
    <style>img { filter: brightness(0.075); }</style>
  {% endif %}
  <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
  <script src="{{ static('js/vendor/navigo/lib/navigo.min.js') }}"></script>
  <script src="{{ static('js/vendor/@alpinejs/persist/dist/cdn.min.js') }}" defer></script>
  <script src="{{ static('js/vendor/alpinejs/dist/cdn.min.js') }}" defer></script>
  <script src="{{ static('js/vendor/moment/min/moment.min.js') }}"></script>
  <script src="{{ static('js/vendor/moment-timezone/builds/moment-timezone-with-data-1970-2030.min.js') }}"></script>
  {%- set _js_data = {
    'currentPage': active_link,
    'debug': settings.DEBUG,
    'encodedEmail': encoded_email,
    'isAuthenticated': request.user.is_authenticated,
    'isSuperuser': request.user.is_superuser,
    'messages': get_messages(),
  } %}
  {%- do _js_data.update(js_data or {}) %}
  <script>
    const DATA = window.DATA = {{ _js_data|tojson }}
  </script>
  <script src="{{ static('js/base.js') }}"></script>
  <script src="{{ static('js/home.js') }}"></script>

  {% if settings.UMAMI_WEBSITE_ID and settings.UMAMI_SCRIPT_URL %}
    <script async defer data-website-id="{{ settings.UMAMI_WEBSITE_ID }}" src="{{ settings.UMAMI_SCRIPT_URL }}"></script>
  {% endif %}
</head>

<body
  {#- Overflow hidden needed on mobile safari to fix weird scrolling bug.
      ie, we want scrolling to apply ONLY to item (main content) #}
  x-data class="h-screen-iphone-fix flex flex-col overflow-hidden-iphone-only"
  {# Disable overflow-hidden in unlikely event nav is larger than screen #}
  :class="{'overflow-hidden-iphone-only': !$store.menuOpen, 'cursor-wait': $store.page.loading}"
>
  {% include 'webcore/components/navbar.html' %}
  {% include 'webcore/components/messages.html' %}

  <div id="content-scroller" class="flex flex-col flex-1 w-full overflow-y-auto">
    <div id="content" class="flex-1">
      {% block base_content required %}{% endblock %}
    </div>
    {% include 'webcore/components/emojis.html' %}
  </div>

  {% if config.ENABLE_PLAYER or config.ENABLE_CLIPPY %}
    <div class="relative">
      {% if config.ENABLE_CLIPPY %}
        {% include 'webcore/components/clippy.html' %}
      {% endif %}
      {% if config.ENABLE_PLAYER %}
        {% include 'webcore/components/player.html' %}
      {% endif %}
    </div>
  {% endif %}

  {% if settings.DEBUG or request.user.is_superuser %}
    {% include 'webcore/components/debug.html' %}
  {% endif %}

</body>
</html>
