{% macro icon(icon, size='text-3xl', margin='mr-2', classes=None) -%}
  <span class="iconify {{ size }}{% if margin %} {{ margin }}{% endif %}{% if classes %} {{ classes }}{% endif %}" data-icon="{{ icon }}"></span>
{%- endmacro %}


{% macro random_spin_style(min=850, max=2750, direction=undefined) -%}
  {%- if direction is none and random_bool() -%}
    {%- set direction = 'reverse' -%}
  {%- endif -%}

  --custom-spin-duration: {{ (range(min, max)|random) / 1000 }}s; --custom-spin-direction: {{ direction|default(['normal', 'reverse']|random) }}
{%- endmacro %}

{% macro render_non_field_errors(form) %}
  {% set errors = form.non_field_errors() %}

  {% if errors %}
    <div class="text-error">
      The following errors occurred:
      <ul class="mt-2 list-disc list-inside space-y-2">
        {% for error in errors %}
          <li class="ml-5">{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}
