{% extends 'webcore/base_full.html' %}

{% block base_script %}
  {%- set _js_data = {
    'debug': settings.DEBUG,
    'is_authenticated': request.user.is_authenticated,
    'is_superuser': request.user.is_superuser,
  } %}
  {%- do _js_data.update(js_data or {}) %}
  <script>
    const DATA = {{ _js_data|tojson }}
  </script>
  <script src="{{ static('webcore/js/placeholder.js') }}" defer></script>
{% endblock %}

{% block base_body %}
<body>
  <div class="hero min-h-screen">
    <div class="flex-col hero-content max-w-screen-lg lg:flex-row-reverse lg:rounded-3xl">
      <div class="flex flex-col lg:flex-col-reverse gap-y-3 items-center">
        <h1 class="italic text-xl md:text-2xl lg:text-xl font-bold">David Cooper <small class="font-normal">Radio Personality</small></h1>
        <div class="overflow-hidden">
          <img
            src="{{ static('webcore/images/david-headshot.jpg') }}" style="--custom-spin-duration: 4000ms"
            class="max-w-[12rem] sm:max-w-xs lg:max-w-sm rounded-full border-8 border-secondary animate-spin-custom select-none drag-none"
          >
        </div>
      </div>
      <div>
        <h2 class="mb-6 sm:mb-8 lg:mb-10 text-2xl sm:text-3xl lg:text-5xl font-bold italic text-center lg:text-left">
          {# XXX text-shadow is in a style tag -#}
          Welcome to <span class="text-accent underline underline-wavy animate-spin">jew.pizza</span>
        </h2>
        <p class="md:text-indent mb-1.5 sm:mb-2 lg:mb-2 mx-2 lg:mx-0 text-sm sm:text-base lg:text-lg" x-data="placeholder">
          Here is my special website. Catch me <span class="font-bold"><span class="underline">every</span>
          <span x-text="showTime">Sun to Thurs night at midnight-5:00am {{ eastern_tz_abbrev }}</span>
          <span class="italic">hosting</span> <a class="link link-primary link-hover font-bold umami--click--showgram"
            target="_blank" href="https://www.iheartradio.ca/newstalk-1010/shows/the-late-showgram-with-jim-richards-1.14645758">The
          Showgram</a></span><span x-text="showTechnicalTime"> &mdash; technically Mon to Fri mornings</span>.
          It airs nationally in Canada,
          and you can <span class="font-bold">listen on Toronto-based
          <a href="https://www.iheartradio.ca/newstalk-1010" class="link link-primary link-hover umami--click--cfrb"
            target="_blank">CFRB NEWSTALK 1010's website</a></span><span x-show="stationsExpanded">,</span>
          <span x-show="!stationsExpanded">
            (<span @click="stationsExpanded = true" class="link link-primary link-hover cursor-pointer umami--click--expand-stns">&amp; more stations&hellip;</span>).
          </span>
          <span x-cloak x-show="stationsExpanded">
            <a href="https://www.iheartradio.ca/cjad" class="link link-primary link-hover umami--click--cjad" target="_blank">CJAD</a>,
            <a href="https://www.iheartradio.ca/580-cfra" class="link link-primary link-hover umami--click--cfra" target="_blank">CFRA</a>,
            <a href="https://www.iheartradio.ca/bnn-bloomberg-radio-1410" class="link link-primary link-hover umami--click--cfte" target="_blank">CFTE</a>,
            <a href="https://www.iheartradio.ca/cfax-1070" class="link link-primary link-hover umami--click--cfax" target="_blank">CFAX</a>,
            <a href="https://www.iheartradio.ca/am800" class="link link-primary link-hover umami--click--cklw" target="_blank">CKLW</a>,
            <a href="https://www.iheartradio.ca/bnn-bloomberg-radio-1150" class="link link-primary link-hover umami--click--ckoc" target="_blank">CKOC</a>,
            <a href="https://www.iheartradio.ca/newstalk-1290-cjbk" class="link link-primary link-hover umami--click--cjbk" target="_blank">CJBK</a>,
            <a href="https://www.iheartradio.ca/610cktb" class="link link-primary link-hover umami--click--cktb" target="_blank">CKTB</a>,
            <a href="https://www.iheartradio.ca/am-1150" class="link link-primary link-hover umami--click--ckfr" target="_blank">CKFR</a> &amp;
            <span class="underline italic">globally</span> on
            <a href="https://en.wikipedia.org/wiki/Shortwave_radio" class="link link-primary link-hover umami--click--shortwave" target="_blank">shortwave</a>
            <a href="https://en.wikipedia.org/wiki/CFRX" class="link link-primary link-hover umami--click--cfrx" target="_blank">CFRX 6.07 MHz</a>.
          </span>
          The show is available
            <a class="font-bold link link-primary link-hover umami--click--showgram-podcast" href="{{ url_for('webcore:podcast-redirect', podcast='showgram') }}" target="_blank">
              as a podcast</a>.
        </p>
        <p class="md:text-indent mb-1.5 sm:mb-2 mx-2 lg:mx-0 text-sm sm:text-base lg:text-lg">
          I <span class="font-bold">descend on the desert every year</span> for the
          <a href="https://burningman.org/" target="_blank"
            class="link link-primary link-hover umami--click--burningman">Burning Man</a>
          event where <span class="font-bold">I'm an on-air personality</span> on
          <span class="font-bold"><a href="https://bmir.org/"
            target="_blank" class="link link-primary link-hover umami--click--bmir">Burning Man
          Information Radio</a></span> (BMIR 94.5 FM).
        </p>
        <p class="md:text-indent mx-2 lg:mx-0 text-sm sm:text-base lg:text-lg">
          You can also <span class="font-bold">listen to my <span class="italic">older</span> podcast
          <a class="link link-primary link-hover umami--click--tigwit-podcast" target="_blank" href="{{ url_for('webcore:podcast-redirect', podcast='tigwit') }}">
          <span class="italic">This Is Going Well, I Think</span></a></span> or
          <span class="font-bold">my show</span>
          <a class="link link-primary link-hover font-bold umami--click--wfmu"
            href="https://www.wfmu.org/playlists/WD" target="_blank">
            <span class="italic">That Went Well, I Think</span> on WFMU</a>.
        </p>
        <div class="grid grid-cols-1 sm:grid-cols-4 gap-1.5 lg:gap-1 mt-5 select-none">
          <a class="btn btn-neutral btn-rounded border-0 umami--click--twitter" href="https://twitter.com/dtcooper" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="inline-block w-6 h-6 fill-current"><path fill="currentColor" d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" /></svg>
            <span class="ml-2">Twitter</span>
          </a>
          <a class="btn btn-neutral btn-rounded border-0 umami--click--instagram" href="https://www.instagram.com/dtcooper/" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="inline-block w-6 h-6 fill-current"><path fill="currentColor" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" /></svg>
            <span class="ml-2">Instagram</span>
          </a>
          <a class="btn btn-neutral btn-rounded border-0 umami--click--bio" href="https://www.iheartradio.ca/newstalk-1010/host/Person/David%20Cooper" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="inline-block w-6 h-6 fill-current"><path fill="currentColor" d="M21 5v2H3V5h18M3 17h9v-2H3v2m0-5h18v-2H3v2m15 2a2 2 0 1 1 0 4c-1.11 0-2-.89-2-2s.9-2 2-2m-4 8v-1c0-1.1 1.79-2 4-2s4 .9 4 2v1h-8z"></path></svg>
            <span class="ml-2">Bio</span>
          </a>
          <a class="btn btn-neutral btn-rounded border-0 umami--click--email" x-data="obfuscatedEmail" :href="email" href="#" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="inline-block w-6 h-6 fill-current"><path fill="currentColor" d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6M20 6L12 11L4 6H20M20 18H4V8L12 13L20 8V18Z" /></svg>
            <span class="ml-2">Email</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% if request.user.is_staff %}
    {% set deploy_data = get_deploy_data() %}
    <div class="absolute right-3 bottom-3 flex flex-col">
      <div class="btn-group justify-between">
        <a href="https://github.com/dtcooper/jewpizza" target="_blank" class="btn btn-secondary btn-sm">
          GitHub
        </a>
        <a href="https://umami.jew.pizza/website/1/jew.pizza%20website" target="_blank" class="btn btn-secondary btn-sm">
          Umami
        </a>
        {% if deploy_data.WORKFLOW_URL %}
          <a href="{{ deploy_data.WORKFLOW_URL }}" target="_blank" class="btn btn-secondary btn-sm">
            Workflow
          </a>
        {% endif %}
      </div>
      {% if BUILD_DATE %}
        <div class="text-center text-sm p-1 bg-neutral text-neutral-content">
          build: {{ BUILD_DATE|datetimeshort }}
        </div>
      {% endif %}
      {% if deploy_data.DEPLOYED_AT %}
        <div class="text-center text-sm p-1 bg-neutral text-neutral-content">
          deploy: {{ deploy_data.DEPLOYED_AT|datetimeshort }}
        </div>
      {% endif %}
      <div class="text-center text-sm p-1 bg-neutral text-neutral-content">
        git: {{ settings.GIT_REV }}
      </div>
    </div>
  {% endif %}
</body>
{% endblock %}
