{% extends 'webcore/base.html' %}

{% from 'webcore/macros.html' import icon %}

{% block content %}
  <article>
    <p>
      I am fairly competent at social networking. <em>Try one of the links below!</em>
    </p>
    <p>
      I'm verified{{ icon('octicon:verified-16', margin='ml-1.5', classes='inline text-blue-400 align-baseline', size='text-2xl') }}
      on <a href="https://twitter.com/{{ config.TWITTER_NAME }}" class="umami--click--social-twitter">Twitter</a>,
      but still hate myself.
    </p>
  </article>

  <div class="mt-6 grid xs:grid-cols-2 sm:grid-cols-3 gap-2 md:gap-3">
    {%
      for name, icon_name, link in (
        ('Twitter', 'simple-icons:twitter', 'https://twitter.com/dtcooper'),
        ('Instagram', 'simple-icons:instagram', 'https://www.instagram.com/dtcooper/'),
        ('Substack', 'simple-icons:substack', 'https://jewpizza.substack.com/'),
        ('Facebook', 'simple-icons:facebook', 'https://www.facebook.com/dtcooper'),
        ('Tiktok', 'simple-icons:tiktok', 'https://www.tiktok.com/@jew'),
        ('Twitch', 'simple-icons:twitch', 'https://www.twitch.tv/JewDotPizza'),
        ('LinkedIn', 'simple-icons:linkedin', 'https://www.linkedin.com/in/davidthomascooper/'),
        ('GitHub', 'simple-icons:github', 'https://github.com/dtcooper'),
        ('iHeartRadio', 'simple-icons:iheartradio', 'https://www.iheartradio.ca/newstalk-1010/host/Person/David%20Cooper'),
      )
    %}
      <a class="btn md:btn-lg btn-neutral btn-rounded umami--click--social-{{ name|lower }}" href="{{ link }}">
        {{ name }} {{ icon(icon_name, size='text-2xl md:text-3xl', margin='ml-2 md:ml-3') }}
      </a>
    {% endfor %}
  </div>
{% endblock %}
