{% extends 'webcore/base.html' %}

{% from 'webcore/macros.html' import icon %}

{% block content %}
  <article>
    <p>
      I am fairly competent at social networking. <em>Try one of the links below!</em>
    </p>
    <p>
      I'm verified{{ icon('octicon:verified-16', margin='ml-1.5', classes='inline text-blue-400 align-baseline', size='text-2xl') }}
      on <a href="https://twitter.com/dtcooper" class="umami--click--social-twitter" target="_blank">Twitter</a>,
      but still hate myself.
    </p>
  </article>

  <div class="mt-6 text-center flex flex-col space-y-3 md:space-y-0 md:flex-row md:justify-between">
    {%
      for name, icon_name, link in (
        ('Twitter', 'simple-icons:twitter', 'https://twitter.com/dtcooper'),
        ('Instagram', 'simple-icons:instagram', 'https://www.instagram.com/dtcooper/'),
        ('Facebook', 'simple-icons:facebook', 'https://www.facebook.com/dtcooper'),
        ('Substack', 'simple-icons:substack', 'https://jewpizza.substack.com/'),
        ('Email', 'ic:outline-email', None)
      )
    %}
      <a
        class="btn lg:btn-lg btn-neutral umami--click--social-{{ name|lower }}" target="_blank"
        {% if name == 'Email' %}
          x-data :href="`mailto:${emailAddress}`"
        {% else %}
          href="{{ link }}"
        {% endif %}
      >
        {{ name }} {{ icon(icon_name, size='text-2xl lg:text-3xl', margin='ml-2 xl:ml-3') }}
      </a>
    {% endfor %}
  </div>
{% endblock %}
