{% extends 'webcore/base.html' %}

{% from 'webcore/macros.html' import icon %}

{% block content %}
  <article>
    <p>
      I am fairly competent at social networking. <em>Try one of the links below!</em>
    </p>
    <p>
      I'm verified{{ icon('octicon:verified-16', margin='ml-1.5', classes='inline text-blue-400 align-baseline', size='text-2xl') }}
      on <a href="https://twitter.com/{{ settings.TWITTER_NAME }}" class="umami--click--social-twitter" target="_blank">Twitter</a>,
      but still hate myself.
    </p>
  </article>

  <div class="mt-6 grid xs:grid-cols-2 sm:grid-cols-3 gap-2 md:gap-3">
    {%
      for name, icon_name, link in (
        ('Twitter', 'simple-icons:twitter', 'https://twitter.com/{}'.format(settings.TWITTER_NAME)),
        ('Instagram', 'simple-icons:instagram', 'https://www.instagram.com/{}/'.format(settings.INSTAGRAM_NAME)),
        ('Substack', 'simple-icons:substack', 'https://{}.substack.com/'.format(settings.SUBSTACK_NAME)),
        ('Facebook', 'simple-icons:facebook', 'https://www.facebook.com/{}'.format(settings.FACEBOOK_NAME)),
        ('Tiktok', 'simple-icons:tiktok', 'https://www.tiktok.com/@{}'.format(settings.TIKTOK_NAME)),
        ('Email', 'ic:outline-email', None)
      )
    %}
      <a
        class="btn md:btn-lg btn-neutral btn-rounded italic umami--click--social-{{ name|lower }}" target="_blank"
        {% if name == 'Email' %}
          x-data :href="`mailto:${emailAddress}`"
        {% else %}
          href="{{ link }}"
        {% endif %}
      >
        {{ name }} {{ icon(icon_name, size='text-2xl md:text-3xl', margin='ml-2 md:ml-3') }}
      </a>
    {% endfor %}
  </div>
{% endblock %}
