{
  "tabWidth": 2,
  "semi": false,
  "bracketSameLine": false,
  "printWidth": 120,
  "svelteStrictMode": false,
  "trailingComma": "none",
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
