@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    /* https://github.com/postcss/postcss-100vh-fix */
    .h-screen-iphone-fix {
        height: 100vh;
    }

    .h-min-screen-iphone-fix {
        min-height: 100vh;
    }

    [x-cloak] {
        display: none;
    }

    @supports (-webkit-touch-callout: none) {
        .h-screen-iphone-fix {
            height: -webkit-fill-available;
        }

        .h-min-screen-iphone-fix {
            min-height: -webkit-fill-available;
        }

        .overflow-hidden-iphone-only {
            overflow: hidden;
        }
    }

    @variants {
        .z-max {
            z-index: 9999;
        }

        .text-indent {
            text-indent: 2rem;
        }

        .underline-wavy {
            text-decoration-style: wavy;
            text-underline-offset: 0.25em;
            text-decoration-thickness: 0.1em;
        }

        .drag-none {
            -webkit-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
            user-drag: none;
        }
    }
}

.btn-rounded {
    --rounded-btn: 1.25rem;
}

.title {
    @apply text-3xl md:text-5xl text-accent underline underline-wavy text-center md:text-left mb-6 md:mb-10 md:ml-16 italic;
}

.prose a {
    @apply link link-primary link-hover;
}

.btn-error, .btn-warning, .btn-success, .btn-info {
    @apply text-black;
}
