@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    /* https://github.com/postcss/postcss-100vh-fix */
    .min-h-screen-iphone-fix {
        min-height: 100vh;
    }

    [x-cloak] {
        display: none;
    }

    @supports (-webkit-touch-callout: none) {
        .min-h-screen-iphone-fix {
            min-height: -webkit-fill-available;
        }
    }

    @variants {
        .text-indent {
            text-indent: 2rem;
        }

        .underline-wavy {
            text-decoration-style: wavy;
            text-underline-offset: 0.25em;
            text-decoration-thickness: 0.1em;
        }

        .drag-none {
            -webkit-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
            user-drag: none;
        }
    }
}
