/.git/
/.github/
/scratch/
# Below copied from .gitignore
.DS_Store
.env
/backend/.coverage
/backend/*/static/js/*.min.js
/backend/htmlcov
/backend/webcore/static/css/styles*.css
/frontend/node_modules/
/serve/
docker-compose.override.yml
