/.git/
/.github/
/scratch/
Dockerfile
# Below copied from .gitignore
.DS_Store
.env
/backend/.coverage
/backend/htmlcov
/backend/webcore/static/webcore/css/styles*.css
/backend/webcore/static/webcore/js/index*.js*
/backend/webcore/static/webcore/js/placeholder*.js*
/frontend/node_modules/
/serve/
__pycache__
docker-compose.override.yml
