.DS_Store
.env
/backend/.coverage
/backend/htmlcov
/backend/webcore/static/webcore/css/styles*.css
/backend/webcore/static/webcore/js/bundle*.js*
/frontend/node_modules/
/serve/
__pycache__
docker-compose.override.yml
