<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>{{ title|default('jew.pizza') }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if settings.DEBUG and not request.GET.get('force_minified_css') %}
    <link rel="stylesheet" href="{{ static('css/styles.css') }}?v={{ randint(100000000, 999999999) }}">
  {% else %}
    <link rel="stylesheet" href="{{ static('css/styles.min.css') }}">
  {% endif %}
  <script src="{{ static('js/alpine.min.js') }}" defer></script>
  {% block extra_head %}{% endblock %}
</head>
<body class="bg-base-100">
  {% block content required %}{% endblock content %}
</body>
</html>
