{% extends 'webcore/base.html' %}

{% block extra_head %}
<script src="{{ static('js/moment.min.js') }}"></script>
<script src="{{ static('js/moment-timezone.min.js') }}"></script>
{% endblock %}

{% block content %}
<div class="hero min-h-screen-iphone-fix bg-base-100">
  <div class="flex-col hero-content max-w-screen-lg lg:flex-row-reverse">
    <div class="flex flex-col lg:flex-col-reverse gap-y-3 items-center">
      <h1 class="italic text-xl md:text-2xl lg:text-xl font-bold">David Cooper <small class="font-normal">Radio Personality</small></h1>
      <div class="overflow-hidden">
        <img
          src="{{ static('images/david-headshot.jpg') }}" style="--custom-spin-duration: 4000ms"
          class="max-w-[12rem] sm:max-w-xs lg:max-w-sm rounded-full border-8 border-secondary animate-spin-custom"
        >
      </div>
    </div>
    <div>
      <h2 class="mb-6 sm:mb-8 lg:mb-10 text-2xl sm:text-3xl lg:text-5xl font-bold italic text-center lg:text-left">
        Welcome to <span class="text-accent underline underline-wavy animate-spin">jew.pizza</span>
      </h2>
      <p class="lg:text-indent mx-2 lg:mx-0 text-md xs:text-lg" x-data="localizedTimeBlurb">
          Here is my very special website. I'm still working on it. For now, you can catch me
          <span x-text="time">Sun to Thurs nights at 1:30am-2:30am {{ eastern_tz_abbrev }}
          (technically Mon to Fri mornings)</span> on
          <a class="link-primary link-hover" target="_blank"
            href="https://www.iheartradio.ca/newstalk-1010/shows/the-late-showgram-with-jim-richards-1.14645758">The
          Showgram</a> w/ <a href="https://en.wikipedia.org/wiki/Jim_Richards_(broadcaster)" class="link-primary link-hover"
            target="_blank">Jim Richards</a>. It airs nationally in Canada, and you can stream it on the Toronto affiliate
          <a href="https://www.iheartradio.ca/newstalk-1010" class="link-primary link-hover" target="_blank">CFRB's
          website</a>. Or just listen to <a class="link-primary link-hover" target="_blank"
            href="https://podcasts.apple.com/us/podcast/this-is-going-well-i-think-with-david-cooper/id116827587">my old
          podcast</a>.
      </p>
      <div class="space-y-4 sm:space-y-6 lg:space-y-8 text-center lg:text-left">
        <a class="btn btn-neutral" href="https://twitter.com/dtcooper" target="_blank">
          <span class="hidden xs:block mr-2">Twitter</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="inline-block w-6 h-6 fill-current"><path fill="currentColor" d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" /></svg>
        </a>
        <a class="btn btn-neutral" href="https://www.instagram.com/dtcooper/" target="_blank">
          <span class="hidden xs:block mr-2">Instagram</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="inline-block w-6 h-6 fill-current"><path fill="currentColor" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" /></svg>
        </a>
        <a class="btn btn-neutral" x-data="obfuscatedEmail" :href="email" href="#" target="_blank">
          <span class="hidden xs:block mr-2">Email</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="inline-block w-6 h-6 fill-current"><path fill="currentColor" d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6M20 6L12 11L4 6H20M20 18H4V8L12 13L20 8V18Z" /></svg>
        </a>
      </div>
    </div>
  </div>
</div>

<span class="fixed bottom-4 right-4 font-sans text-lg sm:text-xl lg:text-3xl duration-500 filter hover:hue-rotate-[360deg] select-none">&#x2721;&#xFE0F; &#x1F355;</span>

<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('obfuscatedEmail', () => ({
      jank: 'mzaDJiq2blRb6Kt6IEBkog1xFTK:C1sXQz4dyGlwp2cWa6XCJwQRVkvBSdLDSzzc5i7zuCyxRtXZXdy2ZXu92mWpmB@oVuskLGzw3myjjr'
        + 'R5ZEFwmqBgLj9e3Iebb7lZjsm4s3uw3rQw6nqH3Hrqtsdg.6zfrMHUsUbDhdB9vspQXw48WIi5FUaZco0LkiEX5ZCaPBCQ1GkM5vafAzEBeL'
        + 'xvwLHGOIOcGzbzl0zEFUMLKdYxWa0BZKWdmgg2a9SW8nreNfJ2cOUctNnsYBe',
      email() {
        let email = ''
        let jank = this.jank
        for (let i = 0; jank.length > 0; i++) {
          email += jank.charAt(i);
          jank = jank.substr(i + 1);
        }
        console.log(email)
        return email
      }
    }))
    Alpine.data('localizedTimeBlurb', () => ({
      userTZ: {% if 'testtz' in request.GET %}{{ request.GET['testtz'] | tojson }}{% else %}moment.tz.guess() || 'US/Eastern'{% endif %},
      showNight: false,
      nextShowStart: null,
      nextShowEnd: null,
      weekStart: null,
      weekEnd: null,
      prettyDay(dt) {
        switch (dt.day()) {
          case 2:
            return 'Tues'
          case 3:
            return 'Weds'
          case 4:
            return 'Thurs'
          default:
            return dt.format('ddd')
        }
      },
      time() {
        let [displayWeekStart, displayWeekEnd] = [this.weekStart, this.weekEnd]
        if (this.showNight) {
          [displayWeekStart, displayWeekEnd] = [moment(this.weekStart).subtract(1, 'days'), moment(this.weekEnd).subtract(1, 'days')]
        }

        s = `${this.prettyDay(displayWeekStart)} to ${this.prettyDay(displayWeekEnd)} nights at `
            + `${this.nextShowStart.format('h:mma')}-${this.nextShowEnd.format('h:mma')} ${this.nextShowStart.format('z')}`
        if (this.showNight) {
          s += ` (technically ${this.prettyDay(this.weekStart)} to ${this.prettyDay(this.weekEnd)} mornings)`
        }
        return s
      },
      init() {
        this.nextShowStart = moment.tz('US/Eastern')

        if (this.nextShowStart.isAfter(moment(this.nextShowStart).hour(2).minute(30).second(0))) {
          // if it's after 2:30 at night, clamp to tomorrow
          this.nextShowStart.add(1, 'days')
        }

        // clamp to next Monday if Sat or Sun
        if (this.nextShowStart.day() < 1 || this.nextShowStart.day() > 5) {
          this.nextShowStart.add(this.nextShowStart.day() == 0 ? 1 : 2, 'days')
        }

        // Set to start time
        this.nextShowStart.hour(1).minute(30).second(0)
        this.weekStart = moment(this.nextShowStart).day(1).tz(this.userTZ)
        this.weekEnd = moment(this.nextShowStart).day(5).tz(this.userTZ)

        // Show night warning if it's below 3:30am local time
        this.nextShowStart.tz(this.userTZ)
        if (this.nextShowStart.isSameOrBefore(moment(this.nextShowStart).hour(3).minute(30).second(0))) {
          this.showNight = true
        }

        this.nextShowEnd = moment(this.nextShowStart).add(1, 'hours')
      }
    }))
  });
</script>
{% endblock %}
