{%- macro server_name(subdomains=[], catch_all=False) -%}
    {%- if subdomains is string -%}
        {%- set subdomains = [subdomains] -%}
    {%- endif %}

    listen 443 ssl http2{% if catch_all %} default_server reuseport{% endif %};
    listen [::]:443 ssl http2{% if catch_all %} default_server reuseport{% endif %};

    ssl_certificate /etc/letsencrypt/live/{{ environ('DOMAIN_NAME') }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ environ('DOMAIN_NAME') }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ environ('DOMAIN_NAME') }}/chain.pem;
    ssl_dhparam /etc/letsencrypt/dhparams/dhparam.pem;

    {% if subdomains %}
        {% for subdomain in subdomains %}
            server_name {{ subdomain }}.{{ environ('DOMAIN_NAME') }};  # certbot_domain:*.{{ environ('DOMAIN_NAME') }}
        {% endfor %}
    {% elif catch_all %}
        # Multiple server_name commands with "_" are ignored by nginx, but we
        # trick docker-nginx-certbot scripts here to register multiple domains
        server_name _;  # certbot_domain:{{ environ('DOMAIN_NAME') }}
        server_name _;  # certbot_domain:*.{{ environ('DOMAIN_NAME') }}
        {% for extra_domain in (environ('NGINX_REDIRECT_DOMAINS') or '').strip().split() %}
            server_name _;  # certbot_domain:{{ extra_domain }}
            server_name _;  # certbot_domain:*.{{ extra_domain }}
        {% endfor %}
    {% else %}
        server_name {{ environ('DOMAIN_NAME') }};
    {% endif %}
{%- endmacro -%}

# Cache values
map $sent_http_content_type $expires {
    default                    off;
    text/html                  epoch;
    text/css                   30d;
    application/javascript     30d;
    ~image/                    30d;
    ~font/                     30d;
}

# Defined in docker-compose.yml
upstream app { server 172.22.0.2:8000; }
upstream logs { server 172.22.0.10:8080; }
upstream umami { server 172.22.0.9:3000; }
upstream icecast { server 172.22.0.6:8888; }


# {{ environ('DOMAIN_NAME') }}, main Django app
server {
    {{ server_name() }}

    include proxy_busy_error;

    location = /favicon.ico {
        return 204;
        access_log off;
        log_not_found off;
    }

    {% if not environ('DEBUG')|int %}
        # /static and /media enabled when DEBUG=1
        location /static {
            expires $expires;
            alias /serve/static;
        }

        location /media {
            expires $expires;
            alias /serve/media;
        }
    {% else %}
        # /static and /media disabled when DEBUG=0
    {% endif -%}

    # Server-sent Events, channels separated by slashes
    location = /sse/ {
        nchan_subscriber eventsource;
        nchan_channel_id sse;
        nchan_eventsource_ping_interval 15;
        nchan_eventsource_ping_event "";
        nchan_eventsource_ping_comment " ping";
    }

    # Logs service only accessible by X-Accel-Redirect in Django app (internal)
    location /protected/cmsadmin/tools/logs/ {
        internal;
        include proxy_params;
        proxy_buffering off;
        proxy_cache off;
        proxy_pass http://logs/cmsadmin/tools/logs/;
    }

    location /protected/cmsadmin/tools/nchan/ {
        internal;
        nchan_stub_status;
    }

    location /protected/cmsadmin/tools/nginx/ {
        internal;
        stub_status;
    }

    location /protected/ {
        internal;
    }

    location / {
        include proxy_params;
        proxy_pass http://app;
    }
}

# Umami analytics
server {
    {{ server_name(['umami', 'analytics']) }}

    include proxy_busy_error;

    # uBlockOrigin breaks /umami.js
    location = /script.js {
        rewrite ^.*$ /umami.js last;
    }

    location / {
        include proxy_params;
        proxy_pass http://umami;
    }
}

# radio service
server {
    {{ server_name(['radio', 'play', 'listen']) }}

    include proxy_busy_error;

    location / {
        include proxy_params;
        proxy_pass http://icecast;
    }
}

{% for subdomain in (environ('NGINX_EXTRA_SUBDOMAINS') or '').strip().split() %}
    {% set subdomain, mode = subdomain, 'noindex' %}
    {% if ':' in subdomain %}
        {% set subdomain, mode = subdomain.split(':') %}
    {% endif %}
    # subdomain "{{ subdomain }}" ({{ mode }})
    server {
        {{ server_name(subdomain) }}

        root /serve/{{ subdomain }};
        {% if mode == 'autoindex' %}autoindex on;{% endif %}

        location = /robots.txt {
            add_header Content-Type text/plain;
            return 200 "User-agent: *\nDisallow: /\n";
        }

        location / {
            try_files $uri $uri/ {% if mode == 'index' %}$uri/index.html {% endif %}=404;
        }
    }
{% endfor %}

# Catch-all subdomain redirect to Django app (include www.{{ environ('DOMAIN_NAME') }})
server {
    {{ server_name(catch_all=True) }}

    return 302 https://{{ environ('DOMAIN_NAME') }}$request_uri;
}

# Port 3000 not publicly exposed by Docker, for publishing to sse endpoint
server {
    listen 3000 reuseport;
    listen [::]:3000 reuseport;

    location /store-sse-in-cache/ {
        internal;
        include proxy_params;
        proxy_pass http://app/protected/store-sse-in-cache/;
    }

    location = / {
        if ($http_x_eventsource_event = '') {
            return 412;
        }
        # Set X-Skip-Store-SSE-In-Cache: 1 header when coming from app to avoid double logging
        if ($http_x_skip_store_sse_in_cache = '') {
            nchan_publisher_upstream_request /store-sse-in-cache/;
        }
        nchan_publisher http;
        nchan_channel_id sse;
        nchan_store_messages off;
    }
}
