{% extends 'webcore/base.html' %}

{% block content %}
  <article>
    Here's a list of the shows I've been on.
  </article>

  <div class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-2 gap-3 mt-3">
    {% for i in range(4) %}
    <div class="card border-accent border-4 lg:border-[6px]">
      <figure class="border-accent border-b-4 lg:border-b-[6px]">
        <img src="{{ static('images/shows/showgram.jpg') }}">
      </figure>
      <div class="card-body">
        <h2 class="card-title">Show Name Here
          <div class="badge mx-2 badge-secondary">FUN</div>
        </h2>
        <p>Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. Sit sit necessitatibus veritatis sed molestiae voluptates incidunt iure sapiente.</p>
        <div class="justify-end card-actions">
          <button class="btn btn-secondary">More info</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
