{% extends 'webcore/base.html' %}

{% block content %}
  <article class="mb-5">
    <p>{{ episode.description }}</p>
  </article>

  <div class="space-y-3 my-3" x-data="episodePlayer({{ episode.asset_url|attrjs }}, {{ episode.peaks|attrjs }})">
    <audio src="{{ episode.asset_url }}" crossorigin="anonymous" x-ref="audio"></audio>
    <div class="cursor-pointer w-full" x-ref="wavesurfer"></div>
    <div class="w-full" x-ref="timeline"></div>
    <div class="text-center">
      <button class="btn btn-primary" @click="play">Play</button>
      <button class="btn btn-secondary" @click="stop">Stop</button>
    </div>
  </div>

  <span class="link link-hover" x-data @click="window.history.back(1)">&lt- Back to show</span>
{% endblock %}
