{% extends 'webcore/base.html' %}

{% block content_max_width %}max-w-screen-xl{% endblock %}

{% block content %}
  <article>
    <p>Here are some of shows I'm on.</p>
  </article>

  <div class="grid md:grid-cols-2 gap-3 mt-3">
    {% for show in shows %}
      {% from 'shows/snippets/{}.html'.format(show.code) import short_description, title %}
      {% set episodes = episodes_for_shows[show.code] %}

      <div class="card border-accent border-4 lg:border-[6px] rounded-3xl">
        {% if show.has_banner_img %}
          <figure>
            <a data-navigo href="{{ url_for('shows:show-list', show=show.code) }}">
              <img alt="{{ show.name }}"
                class="border-accent border-b-4 lg:border-b-[6px]"
                src="{{ static('shows/images/banners/{}.png'.format(show.code)) }}"
              >
            </a>
          </figure>
        {% endif %}
        <div class="card-body">
          <h2 class="card-title">
            {{ title }}
            {# Badge could go here?
            <div class="badge ml-2 {{ choice(['badge-secondary', 'badge-primary', 'badge-accent']) }}">
              {{ choice(['fun', 'great', 'awesome', 'terrible', 'wicked', 'terrible', 'not good'])|upper }}
            </div>
            #}
          </h2>
          <article>
            {{ short_description }}
            {% if episodes %}
              <p>Latest Episodes:</p>
            {% endif %}
          </article>

          {% if episodes %}
            <ul class="text-responsive list-disc list-outside ml-6 space-y-2">
              {% for episode in episodes %}
                <li>
                  <a class="link link-primary link-hover" href="#TODO">{{ episode.start|date }}</a> /
                  <button class="link link-accent link-hover italic" x-data  @click="alert('would play: ' + {{ episode.asset_url|attrjs }})">Play!</button>
                </li>
              {% endfor  %}
            </ul>
          {% endif %}

          <div class="justify-end card-actions">
            <a data-navigo class="btn md:btn-lg btn-secondary" href="{{ url_for('shows:show-list', show=show.code) }}">
              More Info &amp; {% if episodes %}Other{% endif %} Episodes
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
