<div
  x-cloak x-data="{open: $persist(true).as('clippy-open')}"
  :class="{
    'h-[200px] w-[200px] mt-[-200px]': open,
    'h-12 w-12 -mt-12': !open
  }"
  class="pointer-events-none absolute right-4 top-0 border-primary"
>
  <button
    x-data x-show="open" @click="open = false"
    class="pointer-events-auto btn text-content btn-ghost btn-square btn-sm absolute top-0 right-0"
  >
    {{ icon('bx:bx-window-close', size='text-2xl', margin=None) }}
  </button>
  <button
    x-data x-show="!open" @click="open = true"
    class="pointer-events-auto btn btn-primary btn-square font-sans"
  >
    {{ icon('mdi:robot-confused-outline', size='text-4xl', margin=None) }}
  </button>

  <span x-show="open" x-data="{clippy: {{ randint(0, 1)|attrjs }}}" x-init="setInterval(() => clippy = (clippy + 1) % 2, 12000)">
    {% for i in range(2) %}
      <img src="{{ static('images/clippy-{}.gif'.format(i)) }}" class="w-[200px] h-[200px]" x-show="clippy === {{ i|attrjs }}">
    {% endfor %}
  </span>
</div>
