<div
  x-cloak x-data="{open: $persist(true).as('clippy-open')}"
  :class="{
    'h-[200px] w-[200px] mt-[-200px] bg-neutral text-white bg-opacity-90 border-t-2 border-l-2 border-r-2 p-3': open,
    'h-12 w-12 -mt-12': !open
  }"
  class="pointer-events-none absolute right-4 top-0 border-primary"
>
  <button
    x-data x-show="open" @click="open = false"
    class="pointer-events-auto btn text-neutral-content btn-ghost btn-square btn-sm absolute top-0 right-0"
  >
    {{ icon('mdi:window-minimize', size='text-2xl', margin=None) }}
  </button>
  <button
    x-data x-show="!open" @click="open = true"
    class="pointer-events-auto btn btn-primary btn-square font-sans"
  >
    {{ icon('mdi:robot-confused-outline', size='text-4xl', margin=None) }}
  </button>

  <span x-show="open">
    {% for i in range(5) %}
      A jew would go here!
    {% endfor %}
  </span>
</div>
