<div
  x-cloak x-data="{open: true}"
  :class="{'h-[200px] w-[200px] mt-[-200px] border-t-3 border-l-3 border-r-3': open, 'h-12 w-12 -mt-12': !open}"
  class="pointer-events-none absolute right-6 top-0 bg-neutral text-primary-content bg-opacity-90 p-3 border-black"
>
  <button
    x-data x-show="open" @click="open = false"
    style="--rounded-btn: 0" class="pointer-events-auto btn btn-ghost btn-square btn-sm absolute top-0 right-0"
  >
    {{ icon('mdi:window-minimize', size='2xl', margin=None) }}
  </button>
  <button
    x-data x-show="!open" @click="open = true"
    style="--rounded-btn: 0" class="pointer-events-auto btn btn-accent btn-square absolute top-0 right-0 font-sans"
  >
    {{ icon('mdi:window-maximize', size='3xl', margin=None) }}
  </button>

  <span x-show="open">
    {% for i in range(5) %}
      A jew would go here!
    {% endfor %}
  </span>
</div>
