<div class="pointer-events-none fixed z-max w-full h-full" x-data="{show: 0}" @keydown.alt.window="show = (show + 1) % 3" x-cloak>
  <span class="pointer-events-auto bg-yellow-50 text-black border border-black fixed top-0.5 left-0.5 text-3xl" x-show="show == 1">
    <span class="inline xs:hidden">_</span>
    <span class="hidden xs:inline sm:hidden">xs</span>
    <span class="hidden sm:inline md:hidden">sm</span>
    <span class="hidden md:inline lg:hidden">md</span>
    <span class="hidden lg:inline xl:hidden">lg</span>
    <span class="hidden xl:inline 2xl:hidden">xl</span>
    <span class="hidden 2xl:inline 3xl:hidden">2xl</span>
    <span class="hidden 3xl:inline ">3xl</span>
  </span>

  {% if settings.DEBUG %}
    <pre class="pointer-events-auto w-2/3 h-2/3 bg-yellow-50 text-black border border-black bottom-0.5 right-0.5 overflow-y-auto fixed" x-show="show == 2">
      {% debug %}
    </pre>
  {% endif %}
</div>
