<link rel="apple-touch-icon" sizes="180x180" href="{{ static('webcore/images/favicons/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ static('webcore/images/favicons/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ static('webcore/images/favicons/favicon-16x16.png') }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ static('webcore/images/favicons/android-chrome-192x192.png') }}">
<link rel="icon" type="image/png" sizes="256x256" href="{{ static('webcore/images/favicons/android-chrome-512x512.png') }}">
