<div class="max-w-screen-xl mx-auto w-full relative">
  <div
    x-cloak x-data="jewippy"
    :class="{
      'h-[320px] w-[275px] mt-[-320px]': open,
      'h-16 w-16 -mt-16': !open
    }"
    class="pointer-events-none absolute right-0 xs:right-3 sm:right-4 top-0 border-primary"
    x-show="idleLoaded"
  >

    <button
      x-data x-show="open" @click="open = false"
      class="pointer-events-auto btn text-content btn-ghost btn-square btn-sm absolute bottom-[172px] right-0 umami--click--jewippy-close"
    >
      {{ icon('bx:bx-window-close', size='text-2xl', margin=None) }}
    </button>
    <button
      x-data x-show="!open" @click="open = true"
      class="pointer-events-auto bg-primary hover:bg-primary-focus text-primary-content absolute bottom-0 right-1.5 p-1.5 animate-bounce rounded-xl umami--click--jewippy-expand"
    >
      {{ icon('fa-solid:glasses', size='text-5xl', margin=None) }}
    </button>
    {# DEBUG #}
    <div class="absolute bottom-4 left-0 grid grid-cols-[auto,auto] gap-px" x-show="open">
      <div class="col-span-2 font-bold border-black border p-px bg-base-100 text-[9.5px]" x-text="`now:${current}`"></div>
      {% for gif in jewippy_gifs %}
        <button
          class="pointer-events-auto font-bold border-black border p-px bg-base-200 hover:bg-base-300 active:bg-black active:text-base-100 text-[9.5px]"
          @click="queueImg(['idle', 'idleAlt'], true); queueImg({{ gif.name|attrjs }})"
        >{{ gif.name }}</button>
        <button
          class="pointer-events-auto font-bold border-black border p-px bg-base-200 hover:bg-base-300 active:bg-black active:text-base-100 text-[9.5px]"
          @click="setImg({{ gif.name|attrjs }}); queueImg(['idle', 'idleAlt'], true)"
        >force</button>
      {% endfor %}
    </div>

    <div class="pointer-events-auto w-[220px] h-[155px] px-[3px] pt-[3px] absolute top-0 left-0 jewippy-bubble relative" x-show="allLoaded && open && bubbleOpen">
      <div id="jewippy-scroller" class="group jewippy-scroller w-[214px] h-[111px] p-1 pl-1.5 overflow-y-auto">
        <div class="font-jewippy text-sm flex flex-col h-full">
          <div class="flex-1 flex flex-col justify-center"><span x-html="bubbleDemoHTML"></span></div>
          <div>
            <button class="btn-jewippy font-bold" @click="bubbleDemoClick()">Show me...</button>
            <button class="btn-jewippy italic" @click="bubbleDemoClickMinimize()">Fuck right off!</button>
          </div>
        </div>
      </div>
      <button class="absolute top-0 -right-8 btn text-content btn-ghost btn-square btn-sm absolute umami--click--jewippy-bubble-close" @click="bubbleDemoClickMinimize('xanaxRain')">
        {{ icon('bx:bx-window-close', size='text-2xl', margin=None) }}
      </button>
    </div>

    <img x-ref="jewippyGif" height="200" width="200" class="w-[200px] h-[200px] absolute bottom-0 right-0 select-none drag-none" x-show="open">
  </div>
</div>
