<div
  x-cloak x-data="jewippy"
  :class="{
    'h-[320px] w-[275px] mt-[-320px]': open,
    'h-16 w-16 -mt-16': !open
  }"
  class="pointer-events-none absolute right-0 xs:right-2 sm:right top-0 border-primary"
  x-show="idleLoaded"
>

  <button
    x-data x-show="open" @click="open = false"
    class="pointer-events-auto btn text-content btn-ghost btn-square btn-sm absolute bottom-[180px] right-0 umami--click--clippy-close"
  >
    {{ icon('bx:bx-window-close', size='text-2xl', margin=None) }}
  </button>
  <button
    x-data x-show="!open" @click="open = true"
    {# The animate classes here are insane, don't use daisyUI's btn for this as a one-off... just use tailwind utilities #}
    class="pointer-events-auto btn btn-primary btn-lg btn-square rounded-lg bg-opacity-80 border-none no-animation animate-bounce active:animation-bounce hover:animate-bounce focus:animate-bounce active:focus:animate-bounce active:hover:animate-bounce umami--click--clippy-expand"
  >
    {{ icon('fa-solid:glasses', size='text-5xl', margin=None) }}
  </button>
  {# DEBUG #}
  <div class="absolute bottom-4 left-0 grid grid-cols-[auto,auto] gap-px" x-show="open">
    {% for gif in jewippy_gifs %}
      <button
        class="pointer-events-auto font-bold border-black border p-px bg-base-200 hover:bg-base-300 active:bg-black active:text-base-100 text-[9.5px]"
        @click="queueImg(['idle', 'idleAlt'], true); queueImg({{ gif.name|attrjs }})"
      >{{ gif.name }}</button>
      <button
        class="pointer-events-auto font-bold border-black border p-px bg-base-200 hover:bg-base-300 active:bg-black active:text-base-100 text-[9.5px]"
        @click="setImg({{ gif.name|attrjs }}); queueImg(['idle', 'idleAlt'], true)"
      >force</button>
    {% endfor %}
  </div>

  <div class="w-[220px] h-[155px] px-[3px] pt-[3px] absolute top-0 left-0 jewippy-bubble" x-show="open">
    <div class="pointer-events-auto w-[214px] h-[111px] p-1 pl-1.5 overflow-y-scroll font-jewippy text-sm flex flex-col">
      <div class="flex-1 flex flex-col justify-center">What would you like to Jew today?</div>
      <div>
        <button class="btn-jewippy">Test</button>
        <button class="btn-jewippy">Button</button>
      </div>
    </div>
  </div>
  {# <div class="absolute top-2 left-3 w-[200px] h-[97px] min-h-[97px] flex flex-col justify-center overflow-y-auto pointer-events-auto font-clippy text-[11px]">
    What do you want to Jew today?
    <button class="btn-clippy">Test</button>
    {{ lipsum(html=false) }}

  </div> #}
  <img x-ref="jewippyGif" height="200" width="200" class="w-[200px] h-[200px] absolute bottom-0 right-0 select-none drag-none" x-show="open">
</div>
