<div>
  <div class="navbar w-full min-h-[3.5rem] xs:min-h-[4.75rem] sm:min-h-[3.5rem] xl:min-h-[4.75rem] bg-base-100">

    {#- Copy and image #}
    {# TODO: Redo, why bother struggling tof it in MD when we can just use the dropdown #}
    <div class="flex flex-row flex-1">
      <{% if request.user.is_superuser %}a href="{{ url_for('admin:index') }}" tabindex="-1"{% else %}div{% endif %} class="overflow-hidden">
        <img
          src="{{ static('webcore/images/david-headshot.jpg') }}"
          class="animate-spin-custom h-12 w-12 mr-2 xl:h-16 xl:w-16 xl:mr-3 rounded-full border-[3px] xl:border-4 border-secondary select-none drag-none"
          style="{{ random_spin_style(min=4000, max=5500, direction='normal') }}"
        >
        </{% if request.user.is_superuser %}a{% else %}div{% endif %}>
      <{% if request.user.is_superuser %}a href="{{ url_for('admin:index') }}" tabindex="-1"{% else %}div{% endif %}
        class="flex flex-col items-start sm:flex-row sm:items-baseline sm:space-x-2"

      >
        <p class="text-xl xs:text-2xl sm:text-3xl lg:text-[length:min(3rem,2.6vw)] font-bold italic">David Cooper</p>
        <p class="text-sm xs:text-lg sm:text-2xl lg:text-[length:min(1.875rem,1.9vw)] italic">Radio Personality</p>
      </{% if request.user.is_superuser %}a{% else %}div{% endif %}>
    </div>

    {#- Buttons + Dropdown Menu #}
    <div class="flex-none flex items-center space-x-1 xl:space-x-1.5 2xl:space-x-2">
      {% for link in nav_links %}
        <a
          data-navigo href="{{ link.url }}"
          class="btn 2xl:btn-lg btn-rounded no-animation btn-primary hidden {% if link.is_subnav %}3xl:flex{% else %}lg:flex{% endif %}{% if link.is_active %} btn-disabled btn-outline{% endif %}"
          :class="{
            'btn-outline': $store.page.current == {{ link.url|attrjs }},
            'btn-disabled': $store.page.loading || $store.page.current == {{ link.url|attrjs }}
          }"
        >
          {{ icon(link.icon, size='text-2xl 2xl:text-3xl') }} {{ link.name }}
        </a>
      {% endfor %}
      <div class="hidden lg:block 3xl:hidden" @click.away="$store.menuOpen = false">
        <button class="btn btn-primary btn-rounded no-animation 2xl:btn-lg pr-1.5 2xl:pr-3 umami--click--navbar-more" @click="$store.menuOpen = !$store.menuOpen" :class="{'btn-disabled': $store.page.loading}">
          More {{ icon('mdi:dots-vertical', size='text-2xl 2xl:text-3xl', margin=None) }}
        </button>

        <div class="relative" x-show="$store.menuOpen" x-cloak>
          <ul class="absolute z-max top-1 right-3 select-none menu bg-secondary text-sm 2xl:text-lg text-primary font-bold w-72 rounded-lg">
            {% for link in nav_links %}
              {% if link.is_subnav %}
                <li :class="{'bordered text-secondary-content': $store.page.current == {{ link.url|attrjs }}}">
                  <span x-show="$store.page.current == {{ link.url|attrjs }}">{{ icon(link.icon) }} {{ link.name }}</span>
                  <a data-navigo x-show="$store.page.current != {{ link.url|attrjs }}" href="{{ link.url }}">
                    {{ icon(link.icon) }} {{ link.name }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>

      {#- Mobile expand/close buttons #}
      <button x-cloak class="btn btn-square btn-ghost flex lg:hidden umami--click--navbar-mobile-expand" @click="$store.menuOpen = true" x-show="!$store.menuOpen">
        {{ icon('fa:bars', margin=None) }}
      </button>
      <button class="btn btn-square btn-ghost flex lg:hidden umami--click--navbar-mobile-close" @click="$store.menuOpen = false" x-show="$store.menuOpen">
        {{ icon('fa:close', margin=None) }}
      </button>
    </div>
  </div>

  {# Mobile nav #}
  <div x-cloak class="w-full lg:hidden z-max" x-show="$store.menuOpen">
    <ul class="menu bg-secondary text-sm font-bold text-primary">
      {% for link in nav_links %}
        <li :class="{'bordered text-secondary-content': $store.page.current == {{ link.url|attrjs }}}">
          <span x-show="$store.page.current == {{ link.url|attrjs }}">{{ icon(link.icon, size='text-2xl') }} {{ link.name }}</span>
          <a data-navigo x-show="$store.page.current != {{ link.url|attrjs }}" href="{{ link.url }}">
            {{ icon(link.icon, size='text-2xl') }} {{ link.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

</div>
