<div>
  <div class="navbar w-full min-h-[3.5rem] xs:min-h-[4.75rem] sm:min-h-[3.5rem] xl:min-h-[4.75rem] bg-base-100">

    {#- Copy and image #}
    {# TODO: Redo, why bother struggling tof it in MD when we can just use the dropdown #}
    <div class="flex flex-row flex-1">
      <{% if request.user.is_superuser %}a href="{{ url_for('admin:index') }}" tabindex="-1"{% else %}div{% endif %}>
        <img
          src="{{ static('images/david-headshot.jpg') }}"
          class="animate-spin-custom overflow-none h-12 w-12 mr-2 xl:h-16 xl:w-16 xl:mr-3 rounded-full border-[3px] xl:border-4 border-secondary select-none"
          style="{{ random_spin_style(min=4000, max=5500, direction='normal') }}"
        >
        </{% if request.user.is_superuser %}a{% else %}div{% endif %}>
      <{% if request.user.is_superuser %}a href="{{ url_for('admin:index') }}" tabindex="-1"{% else %}div{% endif %}
        class="flex flex-col items-start sm:flex-row sm:items-baseline sm:space-x-2"

      >
        <p class="text-xl xs:text-2xl sm:text-3xl lg:text-[length:min(3rem,2.6vw)] font-bold italic">David Cooper</p>
        <p class="text-sm xs:text-lg sm:text-2xl lg:text-[length:min(1.875rem,1.9vw)] italic">Radio Personality</p>
      </{% if request.user.is_superuser %}a{% else %}div{% endif %}>
    </div>

    {#- Buttons + Menu #}
    <div class="flex-none flex items-center space-x-0.5 2xl:space-x-2">
      {% for link in nav_links %}
        <a
          data-navigo href="{{ link.url }}"
          class="btn 2xl:btn-lg no-animation btn-primary hidden {% if link.is_subnav %}3xl:flex{% else %}lg:flex{% endif %}{% if link.is_active %} btn-disabled btn-outline{% endif %}"
          :class="{
            'btn-outline': $store.page.current == {{ link.url|tojson|forceescape }},
            'btn-disabled': $store.page.loading || $store.page.current == {{ link.url|tojson|forceescape }}
          }"
        >
          {{ icon(link.icon, size='2xl', classes='2xl:text-3xl') }} {{ link.name }}
        </a>
      {% endfor %}
      <div class="hidden lg:block 3xl:hidden" x-data="{moreMenuOpen: false}" @click.away="moreMenuOpen = false">
        <button class="btn btn-primary no-animation 2xl:btn-lg pr-1.5 2xl:pr-3" @click="moreMenuOpen = !moreMenuOpen" :class="{'btn-disabled': $store.page.loading}">
          More {{ icon('mdi:dots-vertical', size='2xl', margin=None, classes='2xl:text-3xl') }}
        </button>

        {# TODO close when URL is navigated to #}
        <div class="relative" x-show="moreMenuOpen" x-cloak>
          <ul class="absolute z-[9999] top-1 right-3 select-none menu bg-secondary text-sm 2xl:text-lg text-primary font-bold w-72 rounded-lg">
            {% for link in nav_links %}
              {% if link.is_subnav %}
                <li
                  :class="{'bordered text-secondary-content': $store.page.current == {{ link.url|tojson|forceescape }}}"
                  style="--rounded-btn: 0"
                >
                  <span x-show="$store.page.current == {{ link.url|tojson|forceescape }}">{{ icon(link.icon) }} {{ link.name }}</span>
                  <a
                    data-navigo x-show="$store.page.current != {{ link.url|tojson|forceescape }}"
                    href="{{ link.url }}" @click="moreMenuOpen = false"
                  >
                    {{ icon(link.icon) }} {{ link.name }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>

      {#- Mobile expand/close buttons #}
      <button x-cloak style="--rounded-btn: 0" class="btn btn-square btn-ghost flex lg:hidden" @click="navMenuOpen = true" x-show="!navMenuOpen">
        {{ icon('fa:bars', margin=None) }}
      </button>
      <button style="--rounded-btn: 0" class="btn btn-square btn-ghost flex lg:hidden" @click="navMenuOpen = false" x-show="navMenuOpen">
        {{ icon('fa:close', margin=None) }}
      </button>
    </div>
  </div>

  {# TODO close when URL is navigated to #}
  <div x-cloak class="w-full lg:hidden" x-show="navMenuOpen">
    <ul class="menu bg-secondary text-sm font-bold text-primary">
      {% for link in nav_links %}
        <li
          :class="{'bordered text-secondary-content': $store.page.current == {{ link.url|tojson|forceescape }}}"
          style="--rounded-btn: 0"
        >
          <span x-show="$store.page.current == {{ link.url|tojson|forceescape }}">{{ icon(link.icon, size='2xl') }} {{ link.name }}</span>
          <a
            data-navigo x-show="$store.page.current != {{ link.url|tojson|forceescape }}"
            href="{{ link.url }}" @click="navMenuOpen = false"
          >
            {{ icon(link.icon, size='2xl') }} {{ link.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

</div>
