@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .btn-rounded {
    --rounded-btn: 1.25rem;
  }

  .text-indent {
    text-indent: 2rem;
  }

  .underline-wavy {
    text-decoration-style: wavy;
    text-underline-offset: 0.25em;
    text-decoration-thickness: 0.1em;
  }
  .z-max {
    z-index: 9999;
  }

  .text-indent {
    text-indent: 2rem;
  }

  .underline-wavy {
    text-decoration-style: wavy;
    text-underline-offset: 0.25em;
    text-decoration-thickness: 0.1em;
  }

  .drag-none {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  .font-smoothing-none {
    -webkit-font-smoothing: none;
  }

  /* daisyUI + tailwind typography customizations */
  .prose a {
    @apply link link-primary link-hover;
  }

  .prose blockquote {
    @apply border-l-primary;
  }

  .prose ul {
    @apply marker:text-base-content;
  }

  article {
    @apply prose md:prose-lg xl:prose-xl;
  }

  .text-responsive {
    @apply text-base md:text-lg xl:text-xl;
  }
}
