{% extends 'admin/base_site.html' %}

{% block extrastyle %}
  {{ block.super }}
  {% include 'admin/favicon.html' %}
{% endblock %}

{% block userlinks %}
  <a href="{% url 'admin-tools:index' %}">Admin Tools</a> /
  {{ block.super }}
{% endblock %}

{% block footer %}
<div id="footer">
  <hr/>
  <div class="container pull-left">
    <h5 style="text-align: center">
      Revision <code>{{ settings.GIT_REV }}</code> built on {% if BUILD_DATE %}{{ BUILD_DATE }}{% else %}[unknown]{% endif %}
    </h5>
  </div>
</div>
{% endblock %}
