{% extends 'webcore/base.html' %}

{% from 'notifications/macros.html' import render_form_field %}

{% block content_max_width %}max-w-screen-md{% endblock %}

{% block content %}
<article>
  {% markdown %}
    I do **bar mitzvahs**, weddings, children's parties, **funerals** and
    corporate events. I'm **great** with kids. You should hurry because I'm often
    **fully** booked. _Did I mention I **hate** children?_ My calender is currently
    **completely** open.
  {% endmarkdown %}

  <p>
    Fill out the form below to contact me. Or email me at
    <a x-data :href="`mailto:${emailAddress}`" x-text="emailAddress"></a>.
  </p>
</article>

<form method="POST" class="my-3" action="{{ url_for('notifications:contact') }}" x-data @submit="formSubmit">
  {{ csrf_input }}

  <div class="space-y-3">
    {{ render_form_field(form.name, placeholder='John Doe') }}
    {{ render_form_field(form.email, placeholder='weird.person@gmail.com') }}
    {{ render_form_field(form.message, placeholder='Enter your message here...') }}
    {{ render_form_field(form.substack_sign_up) }}
  </div>
  <button type="submit" class="btn sm:btn-lg w-full btn-neutral italic mt-6">
    Send! The Internet is MAGIC!
  </button>
</form>
{% endblock %}
