{% from 'webcore/macros.html' import icon %}

{% macro render_form_field(field, placeholder=none) %}
  <div class="form-control">
    {% if field.widget_type == 'checkbox' %}
      <label class="mt-3 cursor-pointer label justify-start gap-4">
        {{ field|add_class('checkbox checkbox-primary checkbox-lg') }}
        <span class="label-text xs:text-lg md:text-xl {% if field.errors %}text-error font-bold{% endif %}">
          {{ field.label }}
        </span>
      </label>
    {% else %}
      {% if field.widget_type in ('text', 'email') %}
        {% set field = field
            |add_class('input border-[3px] input-bordered input-primary input-lg')
            |add_error_class('input-error')
        %}
      {% elif field.widget_type == 'textarea' %}
        {% set field = field
          |add_class('textarea border-[3px] textarea-bordered textarea-primary text-lg')
          |add_error_class('textarea-error')
          |add_attr('rows:6')
        %}
      {% endif %}
      <label class="label" for="{{ field.id_for_label }}">
        <span class="label-text md:text-lg">{{ field.label }}:</span>
      </label>

      {% if placeholder is not none %}
        {% set field = field|add_attr('placeholder:{}'.format(placeholder)) %}
      {% endif %}
      {{ field }}
    {% endif %}

    {% if field.errors %}
      {% for error in field.errors %}
        <div class="text-error font-bold md:text-lg mt-2 ml-1.5 flex items-center">
          {{ icon('mdi:alert-outline') }} {{ error }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endmacro %}
