{% extends 'webcore/base.html' %}

{% block content %}
  <div class="prose md:prose-lg lg:prose-xl" x-data="alternateContainerWidth('max-w-screen-lg')">
    {% markdown %}
      For a newsletter, I use Substack. You can read it by [clicking here](https://jewpizza.substack.com/).

      Or subscribe below,
    {% endmarkdown %}
  </div>

  <div class="flex justify-center my-4">
    <iframe
      src="https://jewpizza.substack.com/embed" frameborder="0" scrolling="no"
      class="max-w-xl w-full h-32 md:h-44 xl:h-64 border-4 border-secondary rounded-2xl"
    ></iframe>
  </div>
  </div>
{% endblock %}
