{% extends 'webcore/base.html' %}

{% block content_max_width %}max-w-screen-md{% endblock %}

{% block content %}
  <article>
    {% markdown %}
      For a newsletter, I use Substack. You can read it by [clicking here](https://jewpizza.substack.com/).

      Or subscribe below,
    {% endmarkdown %}
  </article>

  <div class="flex justify-center my-4">
    <iframe
      src="https://jewpizza.substack.com/embed" frameborder="0" scrolling="no"
      class="max-w-xl w-full h-32 md:h-44 xl:h-64 3xl:h-72 border-4 md:border-[6px] border-primary rounded-2xl"
    ></iframe>
  </div>
{% endblock %}
