{% extends 'admin_tools/base.html' %}

{% block extra_head %}
  <style>
    .state-running {
      color: forestgreen;
    }
    .state-exited, .state-dead, .state-destroyed {
      color: darkred;
    }
  </style>
{% endblock %}

{% block content %}
  {% if containers %}
    <form action="." method="POST">
      {{ csrf_input }}
      <table>
        <thead>
          <tr>
            <th>Container</th>
            <th>Status</th>
            <th>Ports</th>
            <th>Restart</th>
            <th>Logs</th>
          </tr>
        </thead>
        <tbody>
          {% for name, state, ports, logs_url in containers %}
            <tr>
              <td>{{ name }}</td>
              <td class="state-{{ state }}">{{ state }}</td>
              <td>
                {% if ports %}
                  <ul>
                    {% for port in ports %}
                      <li>{{ port }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </td>
              <td>
                {% if state == 'running' and name != 'controller' %}
                  <button action="submit" name="container" value="{{ name }}">Restart</button>
                {% endif %}
              </td>
              <td>
                {% if logs_url %}
                  <a href="{{ logs_url }}" target="_blank">Logs</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  {% else %}
    No containers appear to be running!
  {% endif %}
{% endblock %}
